---
import Contact from "../components/Contact.astro";
import FAQ from "../components/FAQ.astro";
import H1 from "../components/H1.astro";
import Pricing from "../components/Pricing.astro";
import ThreeCards from "../components/ThreeCards.astro";
import Layout from "../layouts/Layout.astro";
import { cities } from "../utils/cities";
import slugify from "../utils/slugify";
export function getStaticPaths() {
    // "ECommerceWebDevelopment", "SEO"
    return cities.map((city) => {
        //let seo=`${city.toLowerCase()}-Web Development}`

        return {
            params: { seo: slugify(`${city} seo`) },
            props: { city: city },
        };
    });
}

const { seo } = Astro.params;
const { city } = Astro.props;
const cards = [
    {
        cardTitle: "Research",
        cardText:
            "This involves conducting keyword research to identify relevant search terms that users use to find your products or services. We'll also take a look at your competitors to analyze what they're doing and what we can do to overtake them in search rankings.",
    },
    {
        cardTitle: "On-Page",
        cardText:
            "Your website's content and structure are important to it's relevance and authority to search engines. This step includes optimizing title tags, meta descriptions, headings, images, and internal linking to improve the user experience and make it easier for search engines to index your website.",
    },
    {
        cardTitle: "Technical",
        cardText:
            "Technical SEO is optimizing your website's site architecture, page speed, mobile-friendliness, and schema markup. This helps search engines crawl and understand your website more easily, which can improve your search engine rankings and visibility.",
    },
];
const packages = {
    jumpstart: {
        price: "$500",
        per: "one-time",
        disclaimer: "Estimate based on standard 5-page website",
        list: [
            "Keyword research",
            "Install Google Analytics",
            "On-page optimization",
            "Site speed optimization",
            "Mobile optimization",
            "Add ALT tags to images",
            "Page title and descriptions",
            "Add business location to Google Maps",
            "Submit site to search engines",
            "Add business to 3 local directories",
            "Create XML sitemap",
            "Create robots.txt",
            "Rename page URL's",
            "Social media integration",
        ],
    },
    bronze: {
        price: "$500/",
        per: "month",
        disclaimer: "Estimate based on standard 3-page website",
        list: [
            "Keyword research",
            "Meta tag optimization (title tags, meta descriptions, header tags)",
            "Content optimization (improving content relevance and quality)",
            "Basic technical SEO (URL optimization, sitemap creation, robots.txt, etc.)",
            "Local business directory submissions",
            "Social bookmarking",
            "Basic link building (1-2 links per month)",
            "Basic analytics and reporting",
        ],
    },
    silver: {
        price: "$800/",
        per: "month",
        disclaimer: "Estimate based on standard 5-page website",
        list: [
            "Custom-designed homepage",
            "Up to 5 pages of content",
            "Site Analytics",
            "Mobile-friendly design",
            "Basic website accessibility audit",
            "Custom blog setup and integration",
            "Basic SEO setup",
            "Content management system (CMS) integration",
            "Simple E-commerce (products with no or consistent variations)",
            "3 rounds of revisions",
            "Advanced website training (video tutorials or in-person training)",
        ],
    },
    gold: {
        price: "$1500/",
        per: "month",
        disclaimer: "Estimate based on standard 10-page website",
        list: [
            "Custom-designed homepage",
            "Up to 20 pages of content",
            "Site Analytics",
            "Mobile-friendly design",
            "Website accessibility audit",
            "Custom blog setup and integration",
            "Advanced SEO setup",
            "Content management system (CMS) integration",
            "Advanced E-commerce (products with multiple variations)",
            "Unlimited rounds of revisions",
            "Advanced website training (video tutorials or in-person training)",
        ],
    },
};
const service = "SEO";
const title= `Best ${city} SEO`;
const description=`Get found on Google with proper Search Engine Optimization`


---

<Layout title={title} description={description} city={city.toLowerCase()}>
    <H1 class="h1">{city} SEO</H1>

    <Pricing service={service} packages={packages} />
    <ThreeCards service={service} cards={cards} />
    <FAQ service={service} filter={service} />
    <Contact  service={service}/>
</Layout>
