---
import Contact from "../components/Contact.astro";
import FAQ from "../components/FAQ.astro";
import H1 from "../components/H1.astro";
import Pricing from "../components/Pricing.astro";
import ThreeCards from "../components/ThreeCards.astro";
import Layout from "../layouts/Layout.astro";
import { cities } from "../utils/cities";
import slugify from "../utils/slugify";
export function getStaticPaths() {
    // "ECommerceWebDevelopment", "SEO"
    return cities.map((city) => {
        //let seo=`${city.toLowerCase()}-Web Development}`

        return {
            params: { webDev: slugify(`${city} web development`) },
            props: { city: city },
        };
    });
}

const { webDev } = Astro.params;
const { city } = Astro.props;
const cards = [
    {
        cardTitle: "Discover",
        cardText:
            "A 30-60 minute call where we find out what your business needs are. Here we determine the scope of the project as well as figure out the timeframe and the estimated cost. We can also discuss potential road blocks and solutions to those problems.",
    },
    {
        cardTitle: "Design",
        cardText:
            "I take the information from the discovery call to create a mock-up of your site using Figma. After a few rounds of revisions, we finalize the look of your new site. Changes after this step may require extra time and an increase in the estimated price.",
    },
    {
        cardTitle: "Develop",
        cardText:
            "I build your new site using the mock-up as a road map. I'll thoroughly test all functions to make sure everything works. Simple changes can be made at this point. After you sign off on the site, I transfer ownership to you and everyone cheers!",
    },
];
const packagess = {
    bronze: {
        price: "1500",
        per: "",
        disclaimer: "Estimate based on average site",
        list: [
            "Custom-designed homepage",
            "Up to 3 pages of content",
            "Site Analytics",
            "Mobile-friendly design",
            "Basic website accessibility",
            "Basic SEO setup",
            "Contact form integration",
            "Domain and hosting setup",
            "2 rounds of revisions",
            "Basic website training and documentation",
        ],
    },
    silver: {
        price: "2200",
        per: "",
        disclaimer: "Estimate based on average site",
        list: [
            "Custom-designed homepage",
            "Up to 5 pages of content",
            "Site Analytics",
            "Mobile-friendly design",
            "Basic website accessibility audit",
            "Custom blog setup and integration",
            "Basic SEO setup",
            "Content management system (CMS) integration",
            "Simple E-commerce (products with no or consistent variations)",
            "3 rounds of revisions",
            "Advanced website training (video tutorials or in-person training)",
        ],
    },
    gold: {
        price: "4500",
        per: "",
        disclaimer: "Estimate based on average site",
        list: [
            "Custom-designed homepage",
            "Up to 20 pages of content",
            "Site Analytics",
            "Mobile-friendly design",
            "Website accessibility audit",
            "Custom blog setup and integration",
            "Advanced SEO setup",
            "Content management system (CMS) integration",
            "Advanced E-commerce (products with multiple variations)",
            "Unlimited rounds of revisions",
            "Advanced website training (video tutorials or in-person training)",
        ],
    },
};
const packages = [
    {
        name: "Premium",
        price: "3000",
        per: "",
        disclaimer: "Estimate based on average site",
        list: [
            "5 Pages",
            "Hand Coded",
            "Optional CMS integration",
            "All-inclusive service plan only $50/month",
        ],
    },
    {
        name: "Monthly",
        featured: true,
        price: "150",
        per: "/mo",
        disclaimer: "Estimate based on average site",
        list: [
            "5 Pages",
            "Hosting",
            "Unlimited Edits",
            "24/7 Customer Service",
        ],
    },
    {
        name: "E-Commerce",
        price: "6000",
        per: "",
        disclaimer: "Estimate based on average site",
        list: [
            "Custom Design",
            "Hand-Coded",
            "Custom Shopify Integration",
            "Easy to Use",
        ],
    },
];

const service = "Web Design";
const title = `Best ${city} Web Design`;
const description = `Get a fast, secure website that your customers will adore.`;
---

<Layout title={title} description={description} city={city.toLowerCase()}>
    <H1 class="h1">{city} Web Design</H1>

    <Pricing service={service} {packages} />
    <ThreeCards service={service} {cards} />
    <FAQ service={service} filter="Web Design" />
    <Contact service={service} />
</Layout>
