---
const FAQs = [
    { q: "How much do you charge?", a: "Pricing varies depending on the scope of the project. Every business is unique, so every project has different requirements. The prices shown are estimates based on the average business's needs.", tags: ["Web Design"] },
    {
        q: "How long will it take to complete my website?",
        a: "The time it takes to complete a website depends on the complexity of the project. I can give you an estimated timeline once I understand the full scope of your project. Typically around 1-2 months. If you need a shorter timeline, let me know and we can work out a deal that works for both of us!",
        tags: ["Web Design"],
    },
    {
        q: "Do I have to be in the Pittsburgh area to work with you?",
        a: "No, you don't have to be nearPittsburgh to work with me. We can communicate through email, phone, or video conferencing to ensure effective communication throughout the project.",
        tags: ["Web Design"],
    },//TODO write blog about Headless CMS and link it here
    {
        q: "Will I be able to update the site myself?",
        a: "To ensure the high quality of your site is maintained, I recommend you let me handle updates. If you do require updating it yourself, I can incorporate a <a target='_blank' href='https://www.contentful.com/headless-cms/'>headless CMS </a> like Wordpress or Contentful.",
        tags: ["Web Design"],
    }, 
    { q: "Will you maintain our website for us?", a: "Yes, I offer website maintenance packages that include regular updates, backups, and security checks to ensure your website is up-to-date and secure.", tags: ["Web Design"] },
    {
        q: "Do you provide website hosting and domain?",
        a: "Yes, I offer website hosting and domain registration services as part of my web development services.",
        tags: ["Web Design"],
    },
    { q: "Will my website be mobile-friendly?", a: "It's important for your site to be accessible on any device, not only so your customers can see it, but also because search engines will penalize you if they're not. All websites I develop are mobile-friendly and responsive.", tags: ["Web Design"] },
    {
        q: "How much input do I have in the website design process?",
        a: "As much as you want to have! I'll work with you closely to understand your brand, goals, and preferences.",
        tags: ["Web Design"],
    },
    {
        q: "Who writes the text/content for the website?",
        a: "It depends on your preference! Either you can write the copy yourself, or you can answer a few quick questions and trust me to write it for you. You know your business better than me, so your input is valuable!",
        tags: ["Web Design"],
    },
    {
        q: "Can you work with WordPress/Website Builders?",
        a: "If you require work in Wordpress, Squarespace, or another builder, I can work with it. However, I strongly prefer to create a static site based in <a target='_blank' href='https://en.wikipedia.org/wiki/HTML'> HTML</a>. This allows for the highest performance, security, and flexibility possible.",
        tags: ["Web Design"],
    },
    {
        q: "What if I need help on my site down the road?",
        a: "I offer ongoing support for all websites I develop. If you need help down the road, I'm just a phone call or email away!",
        tags: ["Web Design"],
    },//TODO make SEO page and link here
    { q: "Is SEO included in my website build?", a: "SEO is a long process that entails a lot of trial and error and A/B testing. I will of course build your site with SEO best practices in mind, but if you want everything a proper SEO regimen can offer, I offer this service as an add-on.", tags: ["Web Design"] },
    {
        q: "Do you work with new and small businesses?",
        a: "Yes, I love working with new and small businesses as much as bigger companies. I offer customized web development solutions that fit your budget and requirements.",
        tags: ["Web Design"],
    },
    { q: "What forms of payments do you accept?", a: "I accept payments through bank transfers, credit/debit cards, and PayPal.", tags: ["Web Design"] },
    { q: "How do we get started?", a: "Simply fill out the form below or send me an <a href='mailto:jon@jonhudak.dev'>email</a>. We'll schedule a consultation to discuss your project requirements and provide a proposal from there.", tags: ["Web Design"] },
    { q: "What is SEO?", a: "", tags: ["SEO"] },
    { q: "How much does SEO cost?", a: "", tags: ["SEO"] },
    { q: "How long does SEO take?", a: "", tags: ["SEO"] },
]; 

const { filter } = Astro.props;
---

<section class="dark px-10 pb-16">
    <h2 class="h2 text-center py-16">Frequently Asked Questions</h2>
    <div class="wrapper flex flex-col lg:flex-row-reverse justify-around">
            <div>
            <ul
                id="FAQIndex"
                class="border border-accent-blue sticky top-24 text-lg px-8 bg-dark-gray py-5 rounded-2xl"
            ><h3 class="text-3xl pb-5 font-title">Have a question?</h3>
                {
                    FAQs.map((FAQ,i) => {
                        if (FAQ.tags.includes(filter)) {
                            return (
                                <li class="py-1">
                                    <a class="text-white hover:text-accent-blue" href={`#${i}`}>{FAQ.q}</a>
                                </li>
                            );
                        }
                    })
                }
            </ul></div>
        <ul id="FAQ" class="lg:w-1/2">
            {
                FAQs.map((FAQ,i) => {
                    if (FAQ.tags.includes(filter)) {
                        return (
                            <li id={i.toString()}class="py-8">
                                <h3 class="h3">{FAQ.q}</h3>
                                <p set:html={FAQ.a}>
                                    
                                </p>
                            </li>
                        );
                    }
                })
            }
        </ul>
    </div>
</section>
<style>
    html {
        scroll-behavior: smooth;

        scroll-padding-top: 80px;
        
    }
    a{
        color:aqua;
    }
</style>
