---
let contactOpen = false;

const heroPic = "/images/Jon-Hudak-Pittsburgh-Web-Developer.webm";
const { city, h1, h2, buttonText } = Astro.props;
---

<section
  id="top"
  class="pt-24 sm:pt-32 pb-12 lg:pb-0 px-0 justify-between overflow-hidden bg-gradient-to-b from-dark-gray to-neutral-700"
>
  <div id="heroInfo" class="">
    <h1 class="mt-20 text-4xl sm:text-7xl select-none text-white font-title">
      {city}
      <strong class="font-normal text-accent-blue">{h1}</strong>
    </h1>
    <div class="heroInfoWrap">
      <h2
        class="font-sans mt-5 text-xl sm:text-2xl text-center text-white mx-8"
      >
        {h2}
      </h2>
      <a
        href="/contact"
        class={`button inline-block  text-center text-xl relative py-6 px-6 mt-10 mx-2 lg:w-auto sm:mx-auto`}
      >
        {buttonText}
      </a>
    </div>
  </div>

  <video
    id="heroPic"
    aria-label="A photo of Jon Hudak giving a thumbs up with a glitch effect."
    class="ml-auto lg:mt-12 imgShadow-sm lg:rounded-none lg:border-none lg:shadow-none z-10 w-48 h-48 min-h-max lg:w-auto lg:h-auto object-cover object-top rounded-full shrink-0 border-2 border-accent-blue shadow-xl animate-heroRoll lg:animate-heroSlide"
    autoplay
    loop
    muted
    playsInline
  >
    <source src={heroPic} type="video/webm" />
    This animation doesn't work on your browser. Let me know so I can fix it!
  </video>
</section>

<style>
  section {
    display: grid;
    grid-column:content;
    
    grid-template-columns: [text-start] 2fr [image-start] 1fr [text-end] 1fr [image-end];
    /* grid-template-rows: [text-start image-start] auto [text-end image-end]; */
  }
  #heroInfo {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto 1fr;
    grid-column: text;
    grid-row:1;background: red;
  }
  h1 {
    grid-column: text;
  }
  video {
    grid-column: image;
    grid-row:1/-1;

  }
</style>
