---
import { Image, Picture } from "@astrojs/image/components";
import { getCollection } from "astro:content";

const portfolio = await getCollection("portfolio");
---

<section class="bg-neutral-100 md:px-10 pt-16">
    <h2 class="h2 pl-8">Portfolio</h2>
    {
        portfolio.map((item) =>{
            return(
            <article class="flex flex-col md:flex-row odd:md:flex-row-reverse py-16 gap-5 relative">
                
                
                    <video
                        class="lazy w-[500px] sm:w-[600px] xl:-[1000px] shrink"
                        autoPlay
                        loop
                        muted
                        playsInline
                        data-src={item.data.video}
                        
                    >
                    <source src={item.data.video} type="video/webm" />
                    This image isn't working on your browser. Let me know so I
                    can fix it!
                    </video>
                
                <div class="flex flex-col lg:flex-row gap-10 mt-10 px-5">
                    <div class="">
                        <h3 class="h3 md:text-center">{item.data.title}</h3>
                        <p>{item.body}</p>
                    </div>
                    <a
                        href={item.data.link}
                        class="text-right absolute bottom-0 right-3"
                    >
                        Visit the {item.data.title} Site
                    </a>
                </div>
            </article>)
        })
    }
</section>
<!-- <Picture widths={[400, 800]}
    sizes="(max-width: 400px) 400px, 800px" aspectRatio="4:3" alt={item.data.alt} class="object-cover" src={item.data.image1} format="webp"/> -->
