---
import { Image, Picture } from "@astrojs/image/components";
import { getCollection } from "astro:content";

const portfolio = await getCollection("portfolio");
---

<section class="bg-gradient-to-b from-accent-blue to-blue-900 md:x-10 py-16">
    <h2 class="h2 pl-8">Portfolio</h2>

    <div
        class="pt-8 flex flex-col sm:flex-row w-full justify-center gap-5 lg:px-24"
    >
        {
            portfolio.map((item) => {
                return (
                    <article class="fadeUp flex flex-col gap-5 relative shrink group transition duration-500">
                        <a
                            aria-label={`Navigate to ${item.data.title} Site`}
                            href={item.data.link}
                            class="relative hover:grayscale hover:contrast-200 no-underline transition duration-1000"
                        >
                            <video
                                class="rounded-lg lazy max-h-ful object-fill shrink shadow-lg"
                                autoplay
                                loop
                                muted
                                playsinline
                                data-src={item.data.video}
                            >
                                <source
                                    src={item.data.video}
                                    type="video/webm"
                                />
                                This image isn't working on your browser. Let me
                                know so I can fix it!
                            </video>
                            <div class="fadeUp relative mx-auto -top-16 h-24 bg-dark-gray group-hover:bg-offBlack w-2/3 flex flex-col rounded-b-3xl shadow-md min-w-max transition-colors duration-500">
                                <h3 class="h3 py-3 px-3 text-center text-white sm:text-center">
                                    {item.data.title}
                                </h3>
                                <a
                                    href={item.data.link}
                                    class="text-center text-accent-blue"
                                >
                                    Visit the {item.data.title} Site
                                </a>
                            </div>
                        </a>
                    </article>
                );
            })
        }
    </div>
</section>
<!-- <Picture widths={[400, 800]}
    sizes="(max-width: 400px) 400px, 800px" aspectRatio="4:3" alt={item.data.alt} class="object-cover" src={item.data.image1} format="webp"/> -->
