---
import "../styles/global.css";
import "@fontsource/aldrich";
import { Icon } from "astro-icon";
import Navbar from "../components/Navbar.astro";

const year = new Date().getFullYear();

let showToTop = false;
// let lastYPos = 0;
let navbarChange = false;

const { title, description, ogImg, slug, footerClass, background } =
  Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Jon Hudak" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content={title} />
    <meta property="og:image" content={`https://jonhudak.dev${ogImg}`} />
    <meta property="og:title" content="Jon Hudak Web Development" />
    <meta property="og:url" content={`https://www.jonhudak.dev/${slug}`} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/jpg" href="/favicon.jpg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body id="top" class={`overflow-x-hidden min-h-screen ${background}`}>
    <Navbar navbarChange={false} />
    <main class="">
      <slot />
    </main>
    <!-- <nav
      class="bg-blue-500 h-16 w-16 fixed bottom-16 right-16 rounded-full cursor-pointer shadow-2xl z-40"
    >
      <a title="Top of Page" href="#top" class="flex text-center p-auto">
        <div class="m-auto p-4 w-full text-4xl font-bold font-sans -rotate-90">
          <Icon name="arrow" />
        </div>
      </a>
    </nav> -->

    <footer
      class={`p-3 min-h-20 flex flex-col sm:flex-row text-center justify-between place-items-center border-t-2 border-gray-600 bg-offBlack mt-3 text-white z-40 ${footerClass}`}
    ><p>Jon Hudak | Elizabeth, PA | <a href="tel:412-405-1059" class="text-white">412-405-1059</a> | <a class="text-white" href="mailto:jon@jonhudak.dev">jon@jonhudak.dev</a></p>
      <p class="mt-auto  py-3 ">
        &copy; {year} Jon Hudak Web Development
      </p>
    </footer>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script> -->
  </body>
</html>

<script>
  //navbar change intersection observer
  const threshold = 0.2;
  const rootMargin = "0% 0% 0% 50%";
  const heroSection = document.querySelector("#hero");
  const navbar = document.querySelector("#nav");
  const heroObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (!entry.isIntersecting) {
          navbar.classList.add("navChange");
          console.log("not intersecting");
        } else {
          navbar.classList.remove("navChange");
          console.log("intersecting");
        }
      });
    },
    { threshold: threshold, rootMargin: rootMargin }
  );

  heroObserver.observe(heroSection);
</script>

<style is:global>
  /* .resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
  } */

  html {
    @apply bg-dark-gray;
  }
  .inputField {
    @apply text-black px-3 py-2 mt-3 text-xl w-full bg-blue-50 focus:bg-blue-200 border-2 border-blue-500 outline-double outline-4 outline-neutral-700 rounded-2xl;
  }
  .formLabel {
    @apply text-2xl py-2;
  }
  .h2 {
    @apply font-thin  text-5xl sm:text-5xl leading-snug;
  }
  .h3 {
    @apply text-2xl font-bold font-title;
  }
  .cont {
    @apply px-5 text-white bg-dark-gray rounded-lg border border-accent-blue shadow-xl;
  }

  .type,
  .notype {
    @apply relative font-title;
  }
  .type::after {
    @apply absolute;
  }
  .button {
    @apply font-black font-mono text-2xl rounded-full shadow-lg bg-accent-blue border border-neutral-400 text-gray-900 hover:bg-sky-700 hover:text-gray-300 active:bg-sky-900 focus:outline-none focus:ring focus:ring-sky-500;
  }

  .imgShadow-sm {
    -webkit-filter: drop-shadow(1px 1px 1px #43b0ff);

    filter: drop-shadow(0px 0px 4px #43b0ff);
  }
  .svg-shadow {
    -webkit-filter: drop-shadow(1px 1px 1px black);
    filter: drop-shadow(-1px 2px 3px black);
  }
  a {
    @apply text-blue-600 hover:text-blue-800 underline;
  }

  .fadeUp {
    opacity: 0.1;
    transform: translateY(50px);
  }
  .rotated {
    transform: rotate(45deg);
  }
  .animate {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 2s, transform 2s;
  }
</style>
<script>
  import observer from "../utils/observer";

  const fadeUps = document.querySelectorAll(".fadeUp");
  console.log(fadeUps);
  const rotates = document.querySelectorAll(".rotated");
  observer(fadeUps, "animate", 0.2);
  observer(rotates, "animate");
</script>
